body {
	display: flex;
		flex-direction: column;
}
.mainViewport {
	margin: auto;
}

.intro {
		margin-right: 15%;
			margin-left: 15%;
			margin-bottom: 50px;
			margin-top: 50px;
	padding: 30px;
	border-style: solid;
	border-width: 1px;
}
textarea {
/*	margin: auto;*/
/*	width: auto;*/
margin-top: 5%;
margin-left: 5%;
margin-right: 0;
	height: 100%;
/*	height: 250px;
	width: 250px;*/
	overflow-y: scroll;
/*	resize: none;*/
	font-family: monospace;
}
.fnEditor {
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
	padding: 5%;
	border-style: solid;
	border-width: 1px;
    display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}
.fnEditorInputs {
		display: flex;
	flex-direction: column;
/*	margin : auto;*/
	padding: 30px;
/*	border-style: solid;
	border-width: 1px;*/
    display: inline-flex;
/*	flex-direction: row;*/
	align-items: stretch;
}

.fnEditorControls {

    display: inline-flex;
/*	flex-direction: row;*/
	align-items: flex-start;
}

.fnList {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	overflow: true;
}

.fnEntry {
/*	display: flex;*/
/*	flex: auto;*/
	flex-direction: row;
	height: 100%;
	width: 400px;
}

.codetext {
	height: 250px;
	width: 250px;
	overflow-y: scroll;
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 9px;
}
