body {
	display: flex;
		flex-direction: column;
}
.mainViewport {
	margin: auto;
}
div {
	border-radius: 10px;
}

.intro {
		box-shadow: -3px 3px rgba(0,0,0,0.1);
		margin-right: 15%;
			margin-left: 15%;
			margin-bottom: 50px;
			margin-top: 50px;
	padding: 30px;
	border-style: solid;
	border-width: 1px;
}
textarea {
/*	margin: auto;*/
/*	width: auto;*/
margin-top: 5%;
margin-left: 0%;
margin-right: 0;
	min-height: 150px;
/*	height: 250px;
	width: 250px;*/
	resize: none;
	overflow-y: scroll;
/*	resize: none;*/
	font-family: monospace;
	font-size: 100m%;
}

.mainViewport {
box-shadow: -3px 3px rgba(0,0,0,0.1);
 resize: none;
	aspect-ratio: 1 / 1;
}

.fnEditor  {
box-shadow: -3px 3px rgba(0,0,0,0.1);
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
	padding: 3%;
	border-style: solid;
	border-width: 1px;
    display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}
.fnEntry {
box-shadow: -3px 3px rgba(0,0,0,0.1);
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
	padding: 3%;
	border-style: solid;
	border-width: 1px;
    display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}
.fnEditorInputs {
		display: flex;
	flex-direction: column;
	flex-grow: 3;
/*	margin : auto;*/
	padding-left: 5%;
/*	border-style: solid;
	border-width: 1px;*/
    display: inline-flex;
/*	flex-direction: row;*/
	align-items: stretch;
}

.fnEditorControls {

    display: inline-flex;
/*	flex-direction: row;*/
	align-items: flex-start;
}

.fnList {
	display: flex;
	flex-direction: column-reverse;
	overflow: true;
}

/*.fnEntry {
/*	display: flex;*/
/*	flex: auto;*/

/*	flex-direction: row;

}*/

.codetext {
	height: 250px;
	width: 250px;
	overflow-y: scroll;
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 9px;
}
